.shotcut-icon {
  width: 1.2em;
  height: 1.2em;
  margin-bottom: -0.2em;
  display: inline-block;
  background: no-repeat center/90%;
}

/* keyframe */
.chronometer {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/d291eacd740a241d5618b8499ae6cccb8244678c/icons/light/32x32/chronometer.png");
}

.document-new {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/823625e4149c88eb0ac4a6a66cbe06802f294cf9/icons/light/32x32/document-new.png");
}

.document-open {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/947d47030911293cca98d6af3554b131d3412c7a/icons/light/32x32/document-open.png");
}

.document-save {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/947d47030911293cca98d6af3554b131d3412c7a/icons/light/32x32/document-save.png");
}

.edit-copy {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/a7d98d8e6a2d984ca049985021aed4d6d7042be9/icons/light/32x32/edit-copy.png");
}

.edit-cut {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/a7d98d8e6a2d984ca049985021aed4d6d7042be9/icons/light/32x32/edit-cut.png");
}

.edit-paste {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/a7d98d8e6a2d984ca049985021aed4d6d7042be9/icons/light/32x32/edit-paste.png");
}

.edit-undo {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/8907ee4cf8555bfdd87476e2beebc2d89020d9c3/icons/light/32x32/edit-undo.png");
}

.keyframe-ease-in {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/c25bae94347d0781bf1a876febb940bf74334bbe/icons/light/32x32/keyframe-ease-in.png");
}

.keyframe-ease-inout {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/c25bae94347d0781bf1a876febb940bf74334bbe/icons/light/32x32/keyframe-ease-inout.png");
}

.keyframe-ease-out {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/c25bae94347d0781bf1a876febb940bf74334bbe/icons/light/32x32/keyframe-ease-out.png");
}

.lift {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/947d47030911293cca98d6af3554b131d3412c7a/icons/light/32x32/lift.png");
}

.list-add {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/8907ee4cf8555bfdd87476e2beebc2d89020d9c3/icons/light/32x32/list-add.png");
}

.list-remove {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/947d47030911293cca98d6af3554b131d3412c7a/icons/light/32x32/list-remove.png");
}

.media-record {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/a7d98d8e6a2d984ca049985021aed4d6d7042be9/icons/light/32x32/media-record.png");
}

.overwrite {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/a7d98d8e6a2d984ca049985021aed4d6d7042be9/icons/light/32x32/overwrite.png");
}

.ripple-all {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/a7d98d8e6a2d984ca049985021aed4d6d7042be9/icons/light/32x32/ripple-all.png");
}

.ripple-marker {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/a7d98d8e6a2d984ca049985021aed4d6d7042be9/icons/light/32x32/ripple-marker.png");
}

.slice {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/947d47030911293cca98d6af3554b131d3412c7a/icons/light/32x32/slice.png");
}

/* ripple */
.target {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/a7d98d8e6a2d984ca049985021aed4d6d7042be9/icons/light/32x32/target.png");
}

.view-grid {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/8907ee4cf8555bfdd87476e2beebc2d89020d9c3/icons/light/32x32/view-grid.png");
}

.zoom-in {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/947d47030911293cca98d6af3554b131d3412c7a/icons/light/32x32/zoom-in.png");
}

.zoom-out {
  background-image: url("https://rawcdn.githack.com/mltframework/shotcut/947d47030911293cca98d6af3554b131d3412c7a/icons/light/32x32/zoom-out.png");
}
